* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #d678df;
    color:#333;
}

.main {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
}
.section {
    display: flex;
    width: 100%;
    height: 20em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    background-color: rgba(235, 225, 235, 0.5);
}
h1 {
    color: rgb(160, 6, 137);
    font-size: 50px;
    text-align: center;
    
}
input {
    border: #333;
    border-radius:4px;
    padding: 7px;
    height: 50px;
    font-size: 15px ;
}

.boton {
    padding: 5px;
    background-color: rgb(226, 43, 186);
    border: none;
    color: whitesmoke;
    height: 40px;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.boton:hover{
    transform: scale(1.1);
}
.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
p {
    font-size: 60px;
    font-weight: bold;
    color: rgb(239, 228, 242);
}

